* {
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

.started_btn {
 border-radius: 50px;
 /* background-color: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%); */
 padding: 10px 30px;
 margin-top: 10px;
 background-color: #ed2775;
 color: white;
 font-size: 16px;
}

.navbar-img {
 width: 360px;
 left: 50px;
 height: 300px;
 position: relative;
}

.submenu-3 {
 left: -650px;
 position: absolute;
 top: 40px;
 width: 100vw;
 background-color: white;
}

.submenu-3 ul {
 list-style: none;
 padding-left: 0px;
 /* padding-left: 30px; */
}

.submenu_title {
 font-size: 20px !important;
 font-weight: bolder;
 box-shadow: 0px 1px black;
 margin-bottom: 10px;
}

.submenu-3 {
 padding-bottom: 5px !important;
 padding-top: 5px !important;
}

.page-item li {
 padding-bottom: 5px !important;
 padding-top: 5px !important;
}

.features_submenu {
 /* display: none; */
 position: relative;
 left: 160px;
 top: 0px;
 background: orange;
}

#features:hover .features_submenu {
 display: block;
 left: 30px;
}

.down-angle {
 float: right;
 padding-top: 5px;
}

.nav-item.dropdown:hover .dropdown-menu {
 display: block;
}

.banner_area {
 position: relative;
 top: -70px;
 padding-top: 180px !important;
 background-image: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
}

.header_area {
 position: relative;
 z-index: 3;
 background: transparent;
}

.free_trial {
 background-color: rgba(255, 255, 255, 0.15);
 border-radius: 20px;
 margin-top: 80px;
 margin-bottom: 20px;
 font-size: 15px;
 padding: 10px 20px;
 width: fit-content;
}

.banner_title {
 font-size: 50px;
 color: white;
 font-weight: bolder;
}

.btn {
 border-radius: 30px;
}
.banner_area .shape9 {
 position: absolute;
 left: 0px;
 top: 0px;
}

.banner_area .shape7 {
 text-align: end;
 padding-right: 120px;
}

.banner_area .shape10 {
 position: relative;
 z-index: 0;
 left: -50px;
 top: 100px;
}

.banner_area .shape2 {
 /* position: absolute;
 bottom: 130px; */
 text-align: end;
 position: relative;
 top: -200px;
}
.trusted_title {
 position: relative;
 /* left: 0px; */
 bottom: 20px;
 font-size: 15px;
 font-weight: bold;
 opacity: 0.7;
}

.trusted_companies {
 position: relative;
 bottom: 50px;
 left: 140px;
 padding-bottom: 0px;
 width: 700px;
}

.trusted_companies img {
 width: 90%;
}
.shape_overlay::before {
 background-image: url("./Images/banner-bg.png");
 content: "";
 background-size: cover;
 bottom: 288px;
 height: 32%;
 width: 100%;
 right: 0px;
 position: absolute;
 z-index: 0;
}

.trusted_by {
 position: absolute;
 padding-top: 100px;
 /* position: inherit; */
 z-index: 52;
 padding-left: 100px;
 /* position: inherit;
}
.shape_overlay::after {
 /* background-image: url(./Images/banner-bg.png); */
 content: "";
 background-size: cover;
 bottom: 0px;
 height: 27%;
 width: 100%;
 right: 0px;
 position: absolute;
 z-index: 0;
 background-color: white;
}

.shape11 {
 z-index: 29;
 position: inherit;
 /* right: 0px; */
 left: -250px;
 text-align: end;
 bottom: 180px;
}

.phone_img {
 z-index: 30;
}

/* features box */

.single-features-box {
 background-color: #f4f8fc;
 margin-bottom: 25px;
 text-align: center;
 padding: 30px 20px;
}

.single-features-box .icon {
 width: 100px;
 height: 100px;
 font-size: 45px;
 position: relative;
 color: white;
 border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
 background: linear-gradient(45.24deg, #9f5ff1 5.99%, #ff54b0 91.87%);
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 25px;
}

.single-features-box .icon i {
 left: 0;
 right: 0;
 top: 50%;
 position: absolute;
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
}

.single-features-box h3 {
 font-size: 20px;
 margin-bottom: 12px;
}

p {
 color: #716c80;
 font-size: var(--fontSize);
 /* margin-bottom: 15px; */
 line-height: 1.8;
 font-size: 14px;
}

.single-features-box .icon.bg1 {
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
}

.single-features-box .icon.bg2 {
 background: linear-gradient(44.44deg, #3f75ff 7.79%, #4adeff 94.18%);
}

.single-features-box .icon.bg3 {
 background: linear-gradient(44.44deg, #ff4b3f 7.79%, #ffac30 94.18%);
}

/* video area */
.video_shape1 {
 position: relative;
 display: flex;
 align-items: end;
 left: 50px;
 z-index: -1;
 bottom: 100px;
}
.video_shape2 {
 position: relative;
 display: flex;
 align-items: end;
 right: 80px;
 z-index: -1;
 bottom: 250px;
}
.video-box {
 margin-bottom: 30px;
}

.video_btn {
 width: 100px;
 height: 100px;
 font-size: 50px;
 text-align: center;
 line-height: 100px;
 position: relative;
 left: 50%;
 bottom: 350px;
 z-index: 2;
 transform: translateY(-50%) translateX(-50%);
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
 border-radius: 50%;
 color: white;
 box-shadow: 15px 25px 35px rgba(38, 42, 55, 0.2);
}

/* Section 3  */

.section3_list li .icon {
 width: 55px;
 height: 55px;
 border-radius: 50%;
 background: linear-gradient(45.24deg, #9f5ff1 5.99%, #ff54b0 91.87%);
 position: relative;
 text-align: center;
 color: white;
 font-size: 25px;
 left: -80px;
 top: 50px;
 padding-top: 5px;
}

.section3_left {
 padding-right: 15px;
}

.section3_left h2 {
 font-size: 36px;
 line-height: 1.4;
 /* margin-bottom: 15px; */
}

.section3_list {
 padding-left: 0;
 list-style-type: none;
 margin-bottom: 0;
 /* margin-top: 35px; */
}

.section3_list li {
 position: relative;
 /* margin-bottom: 30px; */
 padding-left: 75px;
}

.section3_list li h3 {
 font-size: 17px;
 /* margin-bottom: 10px; */
}

p:last-child {
 margin-bottom: 0;
}

.section3_left .btn-box {
 margin-top: 35px;
}

.section3_left .btn-box .default-btn {
 margin-right: 15px;
}

.default-btn::before {
 content: "";
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 z-index: -1;
 border-radius: 30px;
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
}

.section3_left .btn-box .link-btn {
 display: inline-block;
 font-weight: 600;
 position: relative;
}

.default-btn {
 z-index: 1;
 border: none;
 position: relative;
 padding: 12px 35px;
 border-radius: 30px;
 display: inline-block;
 color: white;
 box-shadow: 0px 12px 35px rgba(237, 39, 117, 0.25);
 font-size: 14px;
 font-weight: 600;
}

.features-content .btn-box .link-btn {
 display: inline-block;
 font-weight: 600;
 position: relative;
}
a {
 color: black;
 text-decoration: none;
 outline: 0 !important;
}

.section3_right .shape3 {
 position: relative;
 left: 90px;
 top: 50px;
}
.section3_right .shape2 {
 display: flex;
 align-items: end;
 position: relative;
 right: 120px;
 top: 0px;
}

/* section 4 starts here */

.single-features-item .icon {
 top: 40px;
 left: 30px;
 width: 60px;
 height: 60px;
 font-size: 25px;
 position: absolute;
 border-radius: 50%;
 text-align: center;
 color: var(--whiteColor);
 -webkit-transition: var(--transition);
 transition: var(--transition);
 -webkit-box-shadow: 5px 15px 35px rgba(38, 42, 55, 0.12);
 box-shadow: 5px 15px 35px rgba(38, 42, 55, 0.12);
 background: linear-gradient(45.24deg, #9f5ff1 5.99%, #ff54b0 91.87%);
}

.section-title {
 text-align: center;
 max-width: 660px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 55px;
}

.section-title .sub-title {
 display: block;
 margin-bottom: 10px;
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
 letter-spacing: 0.1em;
 font-weight: 600;
}

.section-title h2 {
 line-height: 1.4;
 margin-bottom: 0;
 font-size: 36px;
}

.single-features-item {
 background-color: white;
 padding: 40px 30px 35px 110px;
 margin-bottom: 25px;
 border-radius: 5px;
 position: relative;
 z-index: 1;
}

.single-features-item::before {
 content: "";
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 border-radius: 5px;
 z-index: -1;
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
 opacity: 0;
 visibility: hidden;
}

.single-features-item .icon {
 top: 40px;
 left: 30px;
 width: 60px;
 height: 60px;
 font-size: 25px;
 position: absolute;
 border-radius: 50%;
 text-align: center;
 color: white;
 box-shadow: 5px 15px 35px rgba(38, 42, 55, 0.12);
 background: linear-gradient(45.24deg, #9f5ff1 5.99%, #ff54b0 91.87%);
}

.single-features-item .icon i {
 left: 0;
 right: 0;
 top: 50%;
 position: absolute;
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
}

.section4_area .single-features-item h3 {
 font-size: 20px;
 margin-bottom: 12px;
 font-weight: bolder;
}

.section4_area {
 background-color: #f7f7ff;
 padding-top: 100px;
 padding-bottom: 100px;
}

.section-subtitle {
 display: block;
 margin-bottom: 10px;
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 letter-spacing: 0.1em;
 font-weight: 600;
}

.single-features-item .icon.bg2 {
 background: linear-gradient(44.44deg, #ff4b3f 7.79%, #ffac30 94.18%);
}

.single-features-item .icon.bg3 {
 background: linear-gradient(45deg, #ed2775 0%, #ff7448 100%);
}

.single-features-item .icon.bg4 {
 background: linear-gradient(44.44deg, #3f75ff 7.79%, #4adeff 94.18%);
}
.single-features-item .icon.bg5 {
 background: linear-gradient(
  43.32deg,
  #6a55f8 14.73%,
  #ca48f6 86.35%,
  #ca48f6 86.35%
 );
}

.single-features-item .icon.bg6 {
 background: linear-gradient(45deg, #6a55f8 0%, #ee6c74 100%);
}

.view-more-box {
 text-align: center;
 margin-top: 20px;
}

/* Section 5 starts here */

.app-progress-content .sub-title {
 display: block;
 margin-bottom: 10px;
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 letter-spacing: 0.1em;
 font-weight: 600;
}

.section5_area {
 padding-top: 100px;
 padding-bottom: 100px;
}

.app-progress-img {
 padding-right: 35px !important;
}

.section5_area img {
 max-width: 100%;
 height: auto;
}

/* section 6 starts here */

.app-download-content {
 padding-right: 15px;
 position: relative;
 top: 10px;
}

.app-download-content .btn-box .playstore-btn {
 position: relative;
 border-radius: 5px;
 margin-right: 15px;
 display: inline-block;
 color: #716c80;
 background-color: white;
 -webkit-box-shadow: 0 7px 18px 0 rgba(107, 124, 147, 0.15);
 box-shadow: 0 7px 18px 0 rgba(107, 124, 147, 0.15);
 font-size: 14px;
 font-weight: 500;
 padding-top: 12px;
 padding-left: 60px;
 padding-right: 25px;
 padding-bottom: 12px;
}

.app-download-content .btn-box .applestore-btn {
 position: relative;
 border-radius: 5px;
 display: inline-block;
 color: #716c80;
 background-color: white;
 -webkit-box-shadow: 0 7px 18px 0 rgba(107, 124, 147, 0.15);
 box-shadow: 0 7px 18px 0 rgba(107, 124, 147, 0.15);
 font-size: 14px;
 font-weight: 500;
 padding-top: 12px;
 padding-left: 65px;
 padding-right: 25px;
 padding-bottom: 12px;
}

.app-download-inner {
 padding-left: 100px;
 position: relative;
 z-index: 1;
}

.app-download-inner::before {
 content: "";
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 border-radius: 5px;
 background: linear-gradient(
  76.92deg,
  #c89cff 0%,
  #ff54b0 52.08%,
  #ff9f5a 100%
 );
 z-index: -1;
 margin-top: 50px;
 margin-right: 15px;
 margin-bottom: 30px;
}

.app-download-content {
 padding-right: 15px;
 position: relative;
 top: 10px;
}

.app-download-content .sub-title {
 display: block;
 margin-bottom: 10px;
 color: white;
 letter-spacing: 0.1em;
 font-weight: 600;
}

.app-download-content h2 {
 font-size: 36px;
 line-height: 1.4;
 margin-bottom: 15px;
 color: white;
}

.app-download-content p {
 color: white;
}

.app-download-content .btn-box {
 margin-top: 30px;
}

.app-download-content .btn-box .playstore-btn span {
 display: block;
 margin-top: 2px;
 color: black;
 -webkit-transition: var(--transition);
 transition: var(--transition);
 font-size: 17px;
 font-weight: 700;
}
.app-download-content .btn-box .playstore-btn img {
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
 position: absolute;
 left: 20px;
 top: 50%;
}

.app-download-content .btn-box .applestore-btn img {
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
 position: absolute;
 left: 20px;
 top: 50%;
}

.app-download-content .btn-box .applestore-btn span {
 display: block;
 margin-top: 2px;
 color: black;
 -webkit-transition: var(--transition);
 transition: var(--transition);
 font-size: 17px;
 font-weight: 700;
}

img {
 max-width: 100%;
 height: auto;
}

/* section 7 starts here  */

.screenshots_area {
 padding-top: 100px;
 position: relative;
}

.section-title .sub-title {
 display: block;
 margin-bottom: 10px;
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 letter-spacing: 0.1em;
 font-weight: 600;
}
.slick-prev:before,
.slick-next:before {
 position: absolute;
 top: -260px;
 color: red !important;
}

.screenshots_area.bg-color::after {
 left: 0px;
 right: 0px;
 bottom: 0px;
 content: "";
 z-index: -1;
 height: 55%;
 position: absolute;
 background-color: #262a37;
}

.ptb-100 {
 padding-top: 100px;
 padding-bottom: 100px;
}

.software-integration-content {
 padding-right: 15px;
}
.software-integration-content .sub-title {
 display: block;
 margin-bottom: 10px;
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 letter-spacing: 0.1em;
 font-weight: 600;
 text-align: left;
}

.software-integration-content h2 {
 line-height: 1.4;
 font-size: 35px;
 margin-bottom: 15px;
}

.software-integration-content .default-btn {
 margin-top: 10px;
}

.software-integration-content .section-title {
 text-align: center;
 max-width: 660px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 10px !important;
}

.software-integration-list {
 margin-left: 15px;
 position: relative;
}

.software-integration-list ul li:nth-child(1) {
 top: 70px;
 left: 100px;
}
.software-integration-list ul li:nth-child(2) {
 left: 10%;
 bottom: 23%;
 width: 105px;
 height: 105px;
}
.software-integration-list ul li img {
 left: 0;
 right: 0;
 top: 50%;
 position: absolute;
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
 margin-left: auto;
 margin-right: auto;
}

.software-integration-list ul li:nth-child(3) {
 right: 0;
 left: 14%;
 bottom: 6%;
 margin-left: auto;
 margin-right: auto;
}
.software-integration-list ul li:nth-child(4) {
 right: 40px;
 bottom: 25%;
 width: 120px;
 height: 120px;
}
.software-integration-list ul li:nth-child(5) {
 top: 14%;
 right: 25%;
 width: 90px;
 height: 90px;
}

.software-integration-list ul li:nth-child(6) {
 left: 0;
 right: 0;
 top: 50%;
 width: 140px;
 height: 140px;
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
 margin-left: auto;
 margin-right: auto;
}
.software-integration-list ul li {
 width: 100px;
 height: 100px;
 position: absolute;
 border-radius: 50%;
 text-align: center;
 -webkit-transition: var(--transition);
 transition: var(--transition);
 background-color: white;
 list-style: none;
 -webkit-box-shadow: 5px 15px 35px rgba(38, 42, 55, 0.12);
 box-shadow: 5px 15px 35px rgba(38, 42, 55, 0.12);
}

.software-integration-area .shape5 {
 position: relative;
 display: flex;
 justify-content: end;
 top: -100px;
 right: 40px;
}

.right-software-integration .shape5 {
 position: relative;
 top: -80px;
 display: flex;
 justify-content: end;
}

.section9-area {
 background: linear-gradient(
  82deg,
  #9f5ff1 -1.19%,
  #ff54b0 50.99%,
  #ff9f5a 100%
 );
 margin-bottom: 60px;
 position: relative;
}

.div {
 background-color: white;
 padding: 30px;
 margin: 1px;
 border-radius: 10px;
}

.popular {
 background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 15px;
 font-weight: bolder;
 position: relative;
 top: -15px;
 right: -10px;
}

.price {
 font-size: 50px;
 font-weight: bolder;
 margin-bottom: 25px;
}
.price span {
 font-size: 15px;
 font-weight: lighter;
 color: #716c80;
}

.pricing-btn {
 padding-bottom: 30px;
}

.check-list li {
 list-style: none;
 padding: 5px;
}

.check-list {
 padding-left: 0px !important;
}

.check-list li i {
 padding-right: 10px;
}

.fa-check {
 color: rgb(92, 239, 92);
}

.fa-xmark {
 color: red;
}

.pricing-title {
 padding-bottom: 20px;
}

.pricing-tab {
 background-color: white;
 border-radius: 50px;
 width: fit-content;
 padding: 10px;
}

.nav-link {
 color: black;
}

.nav-pills .nav-link.active {
 color: white;
 background: linear-gradient(
  44.44deg,
  #ed2775 7.79%,
  #ff7448 94.18%
 ) !important;
}

.nav-pills .nav-link {
 border-radius: 50px;
 color: black;
}

.section9-area .shape7 {
 position: absolute;
 left: 350px;
 top: 500px;
}
.section9-area .shape6 {
 position: absolute;
 bottom: -40px;
 left: 60px;
}

.more-plans a {
 color: white;
 position: relative;
 bottom: -30px;
 right: -150px;
 text-decoration: underline;
}

/* section 10 starts from here */


.single-feedback-box {
    margin: 0px 30px;
}

.single-feedback-box .user img {
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
    margin-bottom: 30px;
    margin-right: 30px;
}

.single-feedback-box h5 {
    font-weight: bolder;
}

.stars i {
    color: orange;
    font-size: 15px;
}

.stars {
    display: flex;
    align-items: center;
}

.rating {
    justify-content: space-between;
}

.slick-dots li button:before {
    font-size: 15px !important;

    padding-top: 50px;

}

.slick-dots li.slick-active button:before {
    background: linear-gradient(44.44deg,
            #ed2775 7.79%,
            #ff7448 94.18%) !important;
}



/* Section 11 starts from here */

.section11_area .contact_us h1 {
    padding-bottom: 20px;
}

.section11_area .free-trial-content {
    background: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
    color: white;
    padding: 100px 0px;
    position: relative;
}

.section11_area .reach-me {
    width: 60%;
    /* height: 100%; */
    padding: 10px 0px;
    margin: auto;
    justify-content: space-between;
    border-radius: 5px;
    ;
}

.section11_area .reach-me input {
    width: 70%;
    outline: none;
    border: none;
    padding-right: 10px;
}

.free-trial-content .shape6 {
    position: absolute;
    bottom: -40px;
    left: -80px;
}

.free-trial-content .shape7 {
    position: absolute;
    right: 150px;
    top: 140px;
}

.free-trial-content .default-btn::before {
    border-radius: 5px !important;
}

/* section 12 starts here  */

.section12_area {
    background-color: #262A37;

}

.section12_area .footer-content .frame img {
    font-size: 30px;
    width: 50px;
    height: 50px;
}

.section12_area .footer-content .socials i {
    padding: 10px;
    border-radius: 50%;
    background-color: #3D4354;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.section12_area .line {
    height: 1px;
    opacity: 0.2;
    margin-top: 40px;
}

.section12_area .routes {
    margin-top: 40px !important;
    margin-right: 10px !important;
    justify-content: center;
}

.section12_area .routes h6 {
    margin-right: 30px;
    ;
}

.section12_area .light {
    opacity: 0.4;
    font-size: 15px;
}
